.popup__prof {
    box-sizing: border-box;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	max-width: 358px;
	min-height: 27px;
    padding-bottom: 13px;
	margin: 30px auto 0;
    width: 100%;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
    cursor: text;
}

.popup__prof:focus {
    opacity: 1;
}

@media screen and (max-width: 430px) {
    .popup__prof {
        max-width: 238px;
    }
}